In [4]:
import numpy as np
import pandas as pd
import time

In [2]:
train_path='./data/round1_iflyad_train.txt'
test_path='./data/round1_iflyad_test_feature.txt'

In [5]:
all_data=pd.read_table(train_path)
#print(all_data.head(10))
all_test=pd.read_table(test_path)
#print(all_test.head(10))
#将时间戳转化为正常时间
all_data['time_string']=all_data["time"].apply(lambda x:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(x)))
all_data['time_string']=pd.to_datetime(all_data["time_string"])
all_data["hour"]=all_data["time_string"].dt.hour
all_data["day"]=all_data["time_string"].dt.day
all_data["day"]=all_data["day"].apply(lambda x:x-27 if x>=27 else x+4)

all_test['time_string']=all_test["time"].apply(lambda x:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(x)))
all_test['time_string']=pd.to_datetime(all_test["time_string"])
all_test["hour"]=all_test["time_string"].dt.hour
all_test["day"]=all_test["time_string"].dt.day
all_test["day"]=all_test["day"].apply(lambda x:x-27 if x>=27 else x+4)

In [8]:
all_data = all_data.fillna(0)
all_test = all_test.fillna(0)

all_data['user_tags']=all_data['user_tags'].apply(lambda x:len(x) if not x==0 else 0)

In [9]:
all_data.head(6)

,instance_id,time,city,province,user_tags,carrier,devtype,make,model,nnt,...,creative_is_download,creative_is_js,creative_is_voicead,creative_has_deeplink,app_paid,advert_name,click,time_string,hour,day
0,86294719979897807,2190219034,137103102105100,137103102100100,0,1,2,HUAWEI,HUAWEI-CAZ-AL10,1,...,False,False,False,False,False,B4734117F35EE97F,0,2039-05-29 02:10:34,2,2
1,2699289844928136052,2190221070,137105101100100,137105101100100,785,3,2,Xiaomi,Redmi Note 4,1,...,False,False,False,False,False,B4734117F35EE97F,0,2039-05-29 02:44:30,2,2
2,3117527168445845752,2190219793,137103104111100,137103104100100,0,3,2,OPPO,OPPO+R11s,1,...,False,False,False,False,False,E257895F74792E81,0,2039-05-29 02:23:13,2,2
3,3398484891050993371,2190221704,137103102113100,137103102100100,339,0,2,0,OPPO A57,1,...,False,False,False,False,False,0A421D7B11EABFC5,0,2039-05-29 02:55:04,2,2
4,2035477570591176488,2190220024,137103102109100,137103102100100,0,1,2,Apple,iPhone 7,3,...,False,False,False,False,False,B4734117F35EE97F,0,2039-05-29 02:27:04,2,2
5,2065527640347419040,2190221228,137104104104100,137104104100100,271,1,2,"Xiaomi,MI 6,sagit",MI 6,1,...,False,False,False,False,False,862FF2E9B0AD4C14,0,2039-05-29 02:47:08,2,2

In [10]:
features1=all_data[(all_data['day']>=0)&(all_data['day']<=4)]
dataset1=all_data[all_data['day']==5]
print(dataset1.shape)
features2=all_data[(all_data['day']>=0)&(all_data['day']<=5)]
dataset2=all_data[all_data['day']==6]
features3=all_data[(all_data['day']>=0)&(all_data['day']<=6)]
dataset3=all_test

(151301, 38)