In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [3]:
#1754884 record,1053282 with coupon_id,9738 coupon. date_received:20160101~20160615,date:20160101~20160630, 539438 users, 8415 merchants
off_train = pd.read_csv('data/ccf_offline_stage1_train.csv',header=None)
off_train.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']
#2050 coupon_id. date_received:20160701~20160731, 76309 users(76307 in trainset, 35965 in online_trainset), 1559 merchants(1558 in trainset)
off_test = pd.read_csv('data/ccf_offline_stage1_test_revised.csv',header=None)
off_test.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received']
#11429826 record(872357 with coupon_id),762858 user(267448 in off_train)
on_train = pd.read_csv('data/ccf_online_stage1_train.csv',header=None)
on_train.columns = ['user_id','merchant_id','action','coupon_id','discount_rate','date_received','date']

c:\users\xpc\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\users\xpc\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dataset3 = off_test
feature3 = off_train[((off_train.date>='20160315')&(off_train.date<='20160630'))|((off_train.date=='null')&(off_train.date_received>='20160315')&(off_train.date_received<='20160630'))]
dataset2 = off_train[(off_train.date_received>='20160515')&(off_train.date_received<='20160615')]
feature2 = off_train[(off_train.date>='20160201')&(off_train.date<='20160514')|((off_train.date=='null')&(off_train.date_received>='20160201')&(off_train.date_received<='20160514'))]
dataset1 = off_train[(off_train.date_received>='20160414')&(off_train.date_received<='20160514')]
feature1 = off_train[(off_train.date>='20160101')&(off_train.date<='20160413')|((off_train.date=='null')&(off_train.date_received>='20160101')&(off_train.date_received<='20160413'))]

In [15]:
t = dataset3[['user_id']]
t['this_month_user_receive_all_coupon_count'] = 1
t = t.groupby('user_id').agg('sum').reset_index()
print(t[:5])

   user_id  this_month_user_receive_all_coupon_count
0  1000020                                         1
1  1000026                                         1
2  1000452                                         1
3  1000510                                         1
4   100057                                         1

c:\users\xpc\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
t1 = dataset3[['user_id','coupon_id']]
t1['this_month_user_receive_same_coupon_count'] = 1
#按照user_id和coupon_id进行分组
#统计每个用户，使用不同优惠券的次数
t1 = t1.groupby(['user_id','coupon_id']).agg('sum').reset_index()
print(t1[:5])

   user_id coupon_id  this_month_user_receive_same_coupon_count
0  1000020     13602                                          1
1  1000026     13602                                          1
2  1000452      9983                                          1
3  1000510     10418                                          1
4   100057      2601                                          1

c:\users\xpc\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
t2 = dataset3[['user_id','coupon_id','date_received']]
t2.date_received = t2.date_received.astype('str')
# 按照user_id','coupon_id排序后，提出来date_received，进行agg运算
# agg运算：用冒号连接起来
t2 = t2.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()
print(t2)

c:\users\xpc\appdata\local\programs\python\python36\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

        user_id  coupon_id      date_received
0       1000020      13602           20160731
1       1000026      13602           20160729
2       1000452       9983           20160727
3       1000510      10418           20160701
4        100057       2601           20160708
5       1000651      13602           20160728
6       1000884      10438           20160714
7       1000907       1904           20160703
8       1000936       4203           20160710
9       1000986      12429           20160701
10      1001023      13602           20160723
11      1001176      13181           20160731
12      1001176        361           20160709
13      1001176       3992           20160731
14       100122      12735           20160714
15       100122      13602           20160727
16      1001240      10418           20160706
17      1001240      13602           20160711
18      1001240       2978           20160706
19      1001257      11799           20160711
20      1001302      13602           20160726
21      1001466       9983           20160717
22       100150      13602           20160725
23      1001505      13602           20160710
24      1001505       4283           20160702
25      1001525      10418           20160713
26      1001729      10418           20160702
27      1001729      10438           20160723
28      1001729      13602           20160719
29      1001729       2978           20160723
...         ...        ...                ...
105929    99721      10438           20160707
105930   997367      13602           20160724
105931   997367       8059           20160715
105932   997367       9983           20160714
105933   997426      13602           20160710
105934   997688      13602           20160705
105935   997751      13602           20160729
105936   997802       3443  20160724:20160707
105937   997802       6465           20160721
105938   997802       7459           20160724
105939   997846        613           20160729
105940   997992      13602           20160707
105941   998381      13602           20160728
105942   998639       2978           20160729
105943   998686        768           20160704
105944   998717      13602           20160702
105945   998717       9983           20160703
105946   998773       4185           20160701
105947   998807      10418           20160702
105948   998945      13602           20160727
105949   999137       9983           20160728
105950   999350      13602           20160710
105951   999659      13191           20160705
105952   999659       7517           20160705
105953   999781      12027           20160703
105954   999781       1904           20160703
105955   999842       9983           20160703
105956   999931      13320           20160731
105957    99996      13602           20160723
105958  User_id  Coupon_id      Date_received

[105959 rows x 3 columns]

In [30]:
#apply会返回每个优惠券的使用次数
t2['receive_number'] = t2.date_received.apply(lambda s:len(s.split(':')))
#筛出使用次数大于1次的数据
t2 = t2[t2.receive_number>1]
#对max_date_received赋值为最近一次的使用时间
t2['max_date_received'] = t2.date_received.apply(lambda s:max([int(d) for d in s.split(':')]))
#对min_date_received赋值为最早一次的使用时间
t2['min_date_received'] = t2.date_received.apply(lambda s:min([int(d) for d in s.split(':')]))
# 重新定义t2为以下项目
t2 = t2[['user_id','coupon_id','max_date_received','min_date_received']]

In [33]:
t3 = dataset3[['user_id','coupon_id','date_received']]
#merge，将两个数据集合并
#将t2和t3在['user_id','coupon_id']上进行左帧合并，即根据t3合并t2的user_id','coupon_id
#t2[['user_id','coupon_id','max_date_received','min_date_received']]
#t3[['user_id','coupon_id','date_received']]
#因此合并方式为：找到每个用户每张优惠券的消费时间和对应券的max_date_received与min_date_received
t3 = pd.merge(t3,t2,on=['user_id','coupon_id'],how='left')
#t3的this_month_user_receive_same_coupon_lastone项目设置为:此用户消费本张优惠券与最近一次消费本张优惠券的间隔
t3 = t3.apply(pd.to_numeric, args=('coerce',))
t3['this_month_user_receive_same_coupon_lastone'] = t3.max_date_received - t3.date_received
#此用户消费本张优惠券与第一次消费本张优惠券的间隔
t3['this_month_user_receive_same_coupon_firstone'] = t3.date_received - t3.min_date_received
def is_firstlastone(x):
    if x==0:
        return 1
    elif x>0:
        return 0
    else:
        return -1 #those only receive once
    
t3.this_month_user_receive_same_coupon_lastone = t3.this_month_user_receive_same_coupon_lastone.apply(is_firstlastone)
t3.this_month_user_receive_same_coupon_firstone = t3.this_month_user_receive_same_coupon_firstone.apply(is_firstlastone)
t3 = t3[['user_id','coupon_id','date_received','this_month_user_receive_same_coupon_lastone','this_month_user_receive_same_coupon_firstone']]

In [34]:
print(t3)

          user_id  coupon_id  date_received  \
0             NaN        NaN            NaN
1       4129537.0     9983.0     20160712.0
2       6949378.0     3429.0     20160706.0
3       2166529.0     6928.0     20160727.0
4       2166529.0     1808.0     20160727.0
5       6172162.0     6500.0     20160708.0
6       4005121.0     9983.0     20160706.0
7       4347394.0     9983.0     20160716.0
8       3094273.0    13602.0     20160727.0
9       5139970.0     9983.0     20160729.0
10      3237121.0    13602.0     20160703.0
11      6224386.0     9983.0     20160716.0
12      6488578.0    13602.0     20160712.0
13      4164865.0     9983.0     20160703.0
14      4164865.0     8059.0     20160706.0
15      5468674.0     9983.0     20160713.0
16      6258178.0     9144.0     20160706.0
17      3659521.0     7341.0     20160727.0
18      3659521.0    13181.0     20160717.0
19      3659521.0    13602.0     20160718.0
20      7333378.0    13602.0     20160704.0
21      7333378.0      785.0     20160727.0
22      4454914.0     2978.0     20160711.0
23      6817282.0     8375.0     20160724.0
24      3149569.0    10418.0     20160721.0
25      6301186.0     1715.0     20160718.0
26      6301186.0     4203.0     20160708.0
27      2891521.0    13602.0     20160724.0
28      3422977.0    13602.0     20160727.0
29      4771330.0    13602.0     20160726.0
...           ...        ...            ...
113611  4194809.0    11799.0     20160717.0
113612  4194809.0    13602.0     20160713.0
113613  6062585.0    10438.0     20160719.0
113614  6062585.0    13602.0     20160719.0
113615  6074873.0      878.0     20160724.0
113616  6342137.0    13602.0     20160728.0
113617  6342137.0     8059.0     20160704.0
113618  6342137.0     9822.0     20160724.0
113619  6342137.0     3429.0     20160718.0
113620  4317689.0     5933.0     20160727.0
113621  5110265.0    13602.0     20160711.0
113622  5110265.0     9983.0     20160711.0
113623  6422009.0     5874.0     20160710.0
113624  4851197.0     9983.0     20160713.0
113625  4894205.0     2978.0     20160711.0
113626  7253501.0    13602.0     20160714.0
113627  6485501.0    13602.0     20160720.0
113628  4918781.0    10438.0     20160723.0
113629  6497789.0     9983.0     20160716.0
113630  7047677.0     2601.0     20160708.0
113631  6786557.0     9983.0     20160718.0
113632  6801917.0    13602.0     20160719.0
113633  7066109.0     9144.0     20160705.0
113634  4451837.0    13602.0     20160723.0
113635  5828093.0     2978.0     20160716.0
113636  5828093.0    10418.0     20160716.0
113637  6626813.0     7595.0     20160707.0
113638  6626813.0     7590.0     20160712.0
113639  4547069.0    13602.0     20160717.0
113640  6675965.0      613.0     20160728.0

        this_month_user_receive_same_coupon_lastone  \
0                                                -1
1                                                -1
2                                                -1
3                                                -1
4                                                -1
5                                                -1
6                                                -1
7                                                -1
8                                                -1
9                                                -1
10                                               -1
11                                               -1
12                                               -1
13                                               -1
14                                               -1
15                                               -1
16                                               -1
17                                               -1
18                                               -1
19                                               -1
20                                               -1
21                                               -1
22                                               -1
23                                               -1
24                                               -1
25                                               -1
26                                               -1
27                                               -1
28                                               -1
29                                               -1
...                                             ...
113611                                           -1
113612                                           -1
113613                                           -1
113614                                           -1
113615                                           -1
113616                                           -1
113617                                           -1
113618                                           -1
113619                                           -1
113620                                           -1
113621                                           -1
113622                                           -1
113623                                           -1
113624                                           -1
113625                                           -1
113626                                           -1
113627                                           -1
113628                                           -1
113629                                           -1
113630                                           -1
113631                                           -1
113632                                           -1
113633                                           -1
113634                                           -1
113635                                           -1
113636                                           -1
113637                                           -1
113638                                           -1
113639                                           -1
113640                                           -1

        this_month_user_receive_same_coupon_firstone
0                                                 -1
1                                                 -1
2                                                 -1
3                                                 -1
4                                                 -1
5                                                 -1
6                                                 -1
7                                                 -1
8                                                 -1
9                                                 -1
10                                                -1
11                                                -1
12                                                -1
13                                                -1
14                                                -1
15                                                -1
16                                                -1
17                                                -1
18                                                -1
19                                                -1
20                                                -1
21                                                -1
22                                                -1
23                                                -1
24                                                -1
25                                                -1
26                                                -1
27                                                -1
28                                                -1
29                                                -1
...                                              ...
113611                                            -1
113612                                            -1
113613                                            -1
113614                                            -1
113615                                            -1
113616                                            -1
113617                                            -1
113618                                            -1
113619                                            -1
113620                                            -1
113621                                            -1
113622                                            -1
113623                                            -1
113624                                            -1
113625                                            -1
113626                                            -1
113627                                            -1
113628                                            -1
113629                                            -1
113630                                            -1
113631                                            -1
113632                                            -1
113633                                            -1
113634                                            -1
113635                                            -1
113636                                            -1
113637                                            -1
113638                                            -1
113639                                            -1
113640                                            -1

[113641 rows x 5 columns]